jsonnet
torch>=2.0
transformers>=4.36.0
accelerate>=0.25.0
sentencepiece
protobuf>=3.20.0
nltk
scipy
openai
diskcache
typing_extensions
spacy>=3.7.0 # Only for one of the experiments.
rapidfuzz
datasets
pandas
requests
tqdm
ftfy
ujson
fastapi
uvicorn[standard]
elasticsearch>=7.17,<8
dill
base58
pygments
beautifulsoup4
blingfire
wget
black
ruff
jsonlines